.header {
    display: flex;
    position: relative;
    background-color:  #f2f2f2;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
    /* выше установили ограничения для секции */
  }